%section#article
  %header
    %h1= @article.title
    %h2= @article.headline
  %article
    %p
      = image_tag @article.image.url(:normal)
    %p
      = raw @article.body
  %footer
    = l(@article.published_at, :format => :long)
