%html
  %head
    %title C3SL - Centro de Computação Científica e Software Livre
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    = csrf_meta_tags
  %body
    #wrap
      %header#main
        = link_to image_tag('logo.png'), root_path
        %span.logo= link_to "Centro de Computação Científica e Software Livre", root_path
      %nav#menu
        %ul
          %li= link_to "início", root_path
          %li= link_to "notícias", articles_path
          %li= link_to "pesquisa", researches_path
          %li= link_to "software livre", free_software_path
          %li= link_to "equipe", people_path
          %li= link_to "espelhos", mirrors_path
      %section#content{'data-pjax-container' => true}
        = yield
        %br.clear
      %footer#pagefooter
        %section#address
          %p Depto. de Informática - UFPR - Centro Politécnico
          %p Jardim das Américas Cx. Postal 19081 CEP 81531-980
          %p Curitiba - PR - Brasil
        %section#contact
          %p Fone: +55 41 3361 3567
          %p Fax: +55 41 3361 3205
          %p E-mail: contato@c3sl.ufpr.br
        %section#image
          = image_tag('ufpr.png')
