%html
  %head
    %title C3SL - Centro de Computação Científica e Software Livre
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    #wrap
      %header#main
        = link_to image_tag('logo.png'), root_path
        %span.logo= link_to "Centro de Computação Científica e Software Livre", root_path
      %nav#menu
        %ul
          %li= link_to "Notícias", articles_path
          %li= link_to "pesquisa", researches_path
          %li= link_to "software livre", '#'
          %li= link_to "equipe", people_path
          %li= link_to "espelhos", mirrors_path
      %section#content
        #shadow
        = yield
        %br.clear
      %footer#mainfooter
        = content_tag :div, yield(:footer)

